body{align-self: center;}  
body{padding-left: 400px;} 
body{padding-right: 400px;}

.DivGroenBlock{
  line-height: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #def6ed;
  text-align: center;

}   
.GehaktbroodPNG{
  margin-bottom: 25px;
}

ol li {
    margin-bottom: 1em;
}


